.footer {
    width: 100%;
    height: 280px;
    background-color: var(--primary);
    background-image: url("footer3.png");;
    color: var(--white);
    font-weight: bold;
    font-size: 1.125rem; /* 18px */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer span {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--white);;
}

#direitos {
    color: var(--white);;
}

.contato {
    font-weight: bold;
}
